apiVersion: v1
kind: Service
metadata:
  name: ds-pipeline-ui-{{.Name}}
  namespace: {{.Namespace}}
  labels:
    app: ds-pipeline-ui-{{.Name}}
    component: data-science-pipelines
spec:
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 8080
  selector:
    app: ds-pipeline-ui-{{.Name}}
    component: data-science-pipelines
